* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

button {
    width: 10em;
    height: 3.5em;
    position: relative;
    border: 3px ridge #0c8ad3;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: 1s;
    /* border-radius: 0.3em; */
    font-size: 16px;
    font-weight: bold;
}

button::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    /* border: 1px solid white; */
    background-color: black;
    transition: 0.5s;
    transform-origin: center;
}

button::before {
    content: '';
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    /* border: 1px solid white; */
    background-color: black;
    transition: 0.5s;
    transform-origin: center;
}

button:hover::before, button:hover::after {
    transform: scale(0);
}

button:hover {
    box-shadow: inset 0px 0px 25px #0c8ad3;
}


