header {
    width: 100%;
    min-height: calc(100vh);
}

.wave {
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
}
.wave::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 216px;
    background: url('../img/wave.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar .nav-link {
    color: white;
    margin-right: 30px;
    transition: 0.2s;
}

a.nav-link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.btn-custom {
    color: white;
    border: 1.5px solid white;
    border-radius: 50px;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6s;
}

.btn-custom:hover {
    background: #fd3323;
    border: 1.5px solid #fd3323;
    color: white;
}

.navbar-fixed {
    background-color: rgba(252, 103, 49, 1);
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

section {
    padding: 82px 0;
}

.section-bg {
    background: #f9f9fd;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fc562c;
}

/* about */

.about .member {
    padding: 30px;
    border-radius: 5px;
    background: #f9f9fd;
    transition: 0.5s;
}

.about .member:hover {
    background: #fff;
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
}

.about .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fc562c;
}

.about .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.about .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
}

.about .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.about .member a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;
    margin-right: 5px;
}

.about .member a:hover {
    color: #fff;
    background: #0061f2;
}

/* services */

.services .icon-box {
    padding: 33px 25px; 
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.services .icon-box:hover {
    background: #fff;
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
}

.services .icon-box .icon i {
    color: #fcab44;
    font-size: 45px;
}

.services .icon-box h4 {
    color: #fc562c;
    margin-bottom: 15px;
}

/* portafolio */

.portfolio #portfolio-filters li {
    cursor: pointer;
    list-style: none;
    margin: 10px 5px;
    font-weight: 500;
    color: #444444;
    transition: all 0.3s;
    padding: 5px 20px;
    border-radius: 50px;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
    background: #fc562c;
    color: #fff;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    bottom: 0;
    right: 12px;
    transition: all 0.3s;
    background: rgba(252, 103, 49, 0.9);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    font-size: 15px;
    color: #f9fcfe;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 30px;
    top: calc(50% - 28px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .details-link { 
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-info { 
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #fcab44;
}

/* contacto */

iframe {
    max-width: 100%;
}

/* footer */

hr {
    margin-bottom: 0;
}

footer {
    border-top: 1px solid #7e7e7e;
    padding-top: 44px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer .social {
    background: #fc6731;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

footer .social a {
    color: #fff;
}

.go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #fc6731;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

/* ultimos ajustes */

.navbar-toggler {
    padding: .10rem .45rem;
    border: 1px solid white;
 }
 
 .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
 }
 
 .navbar-toggler i.bi-list {
    color: white;
    font-size: 1.6rem;
 }
 
 @media (max-width: 992px) {
    .navbar-collapse {
       padding-bottom: 19px;
    }
    .wave {
       padding-top: 6rem;
    }
 }
 
 @media (max-width: 768px) {
    .text-center-xs {
       text-align: center;
    }
    .text-center-xs img {
       width: 366px;
    }
 }

